root = "."
tmp_dir = "tmp"

[build]
  cmd = "make build"
  entrypoint = "./tmp/main"
  delay = 1000
  exclude_dir = ["node_modules", "tmp", ".git", "static"]
  exclude_file = ["static/css/style.css"]
  exclude_regex = ["_templ.go"]
  include_ext = ["go", "templ", "css", "html"]
  stop_on_error = true

[log]
  time = true
  main_only = false

[screen]
  clear_on_rebuild = true

[proxy]
  enabled = true
  proxy_port = 9080
  app_port = 8080