root = "."
tmp_dir = "tmp"

[build]
  # On appelle le Makefile pour centraliser la logique
  cmd = "make build"
  bin = "./tmp/main"
  delay = 1000
  exclude_dir = ["node_modules", "tmp", ".git", "static/css"]
  include_ext = ["go", "templ", "css", "html"]
  stop_on_error = true

[log]
  time = true
  main_only = false

[screen]
  clear_on_rebuild = true