name: Deploy to VPS
on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build
        run: |
            go install github.com/a-h/templ/cmd/templ@latest
            curl -sLO https://github.com/tailwindlabs/tailwindcss/releases/latest/download/tailwindcss-linux-x64
            chmod +x tailwindcss-linux-x64
            mv tailwindcss-linux-x64 tailwindcss
            $(go env GOPATH)/bin/templ generate
            ./tailwindcss -i ./static/css/input.css -o ./static/css/style.css --minify
            
            go mod tidy
            go build -o main ./cmd/web/...

      - name: Deploy to VPS via SSH
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          source: "main,static/css/style.css"
          target: "/var/www/usine"
